<form id="register-user" action="/users" method="post">

  <input type="text" name="user[first_name]" placeholder="first name">
  <input type="text" name="user[last_name]" placeholder="last name">
  <input type="text" name="user[user_name]" placeholder="username">
  <input type="text" name="user[password]" placeholder="password">
  <button type="submit" value="Register">Register</button>

</form>